[Unit]
  Description=Humio service
  After=network.service
  StartLimitIntervalSec=120
  StartLimitBurst=3

[Service]
  Type=notify
  Restart=on-abnormal
  User=humio
  Group=humio
  LimitNOFILE=250000:250000
  TimeoutStopSec=300
  TimeoutSec=900
  Restart=always
  EnvironmentFile=/etc/humio/server_%i.conf
  EnvironmentFile=/etc/humio/server_all.conf
  EnvironmentFile=/etc/humio/server_user_%i.conf
  WorkingDirectory={{ humio_systemd_working_dir }}
  ExecStart=/usr/bin/numactl --cpunodebind=${NUMA_NODES} --membind=${NUMA_NODES} /usr/bin/java {{ humio_java_opts | join(" ") }} -jar /usr/lib/humio/server-{{ humio_version }}.jar

[Install]
  WantedBy=default.target
