[Unit]
  Description=Humio service
  After=network.service

[Service]
  Type=notify
  Restart=on-abnormal
  User=humio
  Group=humio
  LimitNOFILE=250000:250000
  EnvironmentFile=/etc/humio/server_%i.conf
  EnvironmentFile=/etc/humio/server_all.conf
  EnvironmentFile=/etc/humio/server_user_%i.conf
  WorkingDirectory={{ humio_data_path }}/{{ humio_host_id }}-%i
  ExecStart=/usr/bin/numactl --cpunodebind=%i --membind=%i /usr/bin/java -server -XX:+UnlockExperimentalVMOptions -XX:+UseZGC -XX:+ScavengeBeforeFullGC -XX:+DisableExplicitGC -Xlog:gc*,gc+jni=debug:file=${HUMIO_DEBUGLOG_DIR}/gc_humio.log:time,tags:filecount=5,filesize=102400 -Xss2M -XX:MaxDirectMemorySize=32G -XX:-UseCompressedOops -XX:+OptimizeStringConcat -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -XX:+AlwaysPreTouch -XX:+UseTLAB -XX:+ResizeTLAB -Dsun.net.inetaddr.ttl=60 -Dnetworkaddress.cache.ttl=60 -Dsun.net.inetaddr.negative.ttl=10 -Dhumio.auditlog.dir=${HUMIO_AUDITLOG_DIR} -Dhumio.debuglog.dir=${HUMIO_DEBUGLOG_DIR} -jar /usr/lib/humio/server-{{ humio_version }}.jar

[Install]
  WantedBy=default.target
